@import url(variables.css);
* {
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    background: var(--LightGray);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 16rem;
    height: 25rem;
    background: var(--White);
    border-radius: 0.8rem;
    padding: 0.7rem 0.7rem 0.8rem 0.7rem;
}
img{
    margin-bottom: 0.5rem ;
    border-radius: 0.8rem;
    width: 100%;
    height: 15 rem;
}
h1{
    
    color: var(--DarkBlue);
    font-size: 17px;
    font-weight: 700;
    margin: 0.5rem;
}
p{
    font-size: 12px;
    font-weight: 400;
    color: var(--GrayishBlue);
    padding: 0.6rem;

}
.texto{
    text-align: center;
    font-family: var(--Outfit);
    padding: 0.5rem;
}
